header{
    background-image: url(../Image/header.jpg);
    margin-right: 20px;
    margin-left: 20px;
    padding-bottom: 40px;
    color: white;
    text-align: center;
}

section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto;
}
section div{
    text-align: center;
    height: 50px;
    width: 100px;
    margin: 10px 5px 0 20px;

}
.item-1{
    grid-area: 1/1/2/2;
    background-color: #33a8a5;

}
.item-2{
    grid-area: 2/1/3/2;
    background-color: #007e7e;
}
.item-3{
    grid-area: 3/1/4/2;
    background-color: #33a8a5;
}
.item-4{
    grid-area: 4/1/5/2;
    background-color: #007e7e;
}
.item-5{
    grid-area: 5/1/6/2;
    background-color: #33a8a5;
}
.item-6{
    grid-area: 6/1/7/2;
    background-color: #007e7e;
}
.item-7{
    grid-area: 7/1/8/2;
    background-color: #33a8a5;
}
.item-8{
    grid-area: 8/1/9/2;
    background-color: #007e7e;
}
.item-9{
    grid-area: 9/1/10/2;
    background-color: #33a8a5;
}
.item-10{
    grid-area: 10/1/11/2;
    background-color: #007e7e;

}
.item-11{
    grid-area: 11/1/12/2;
    background-color: #33a8a5;
}
section a,section a:hover,section a:active,section a:visited {
    color: white;
}
footer{

}