h1{
    padding: 20px;
    background-color: #2B2D42;
    color: #EDF2F4;
    font-family: "Times New Roman", serif;
    font-size: 5em;
    margin-bottom: 20px;
}
table{
    padding: 30px;
    background-color: #8D99AE;
    color: #EDF2F4;
    font-family: "Times New Roman", serif;
    border: 5px black;

}
