body{
    margin: 0 auto;
    padding: 0;
    width: 960px;
    background: #E6E6E6 url("../fotos/pagebackground.png") repeat-y center top;
}
.top{
    height: 200px;
    background: url("../fotos/bgsky3.jpg");
    text-align: center;
    position: relative;
    color: darkblue;

}
.top p:first-child{
    font-size: 300%;
    font-weight: bold;
    margin: 0;
}
.top p:nth-child(2) {
    font-size: 240%;
    font-weight: bold;
}
.top img{
    position: absolute;
    bottom: 60px;
    right: 250px;
}
.news{
    border: 1px solid #999999;
    background-color: #dddddd;
    width: 250px;
    float: right;
    box-sizing: border-box;
}
.news h3{
    color: white;
    background-color: blue;
    text-align: center;
    font-size: 120%;
}
.news p{
    color: #666666;
    font-size: 90%;
    padding-left: 10px;
    padding-right: 10px;
}
.main{
    width: 700px;
    padding-right: 10px;
}
.logo{
    float: left;
}
.intro{
    padding: 30px 20px 30px 20px;

    float: left;
}
.gallery{
    background-color: #999999;
    border: 1px solid black;
    display: inline-block;
}
.foto{
    width: 180px;
    height: 180px;
    padding: 10px;
    background-color: white;
    border: 1px dotted black;
    float: left;
}
.bottom{
    background-color: #666666;
    color: white;

}
.block{
    box-sizing: border-box;
    width: 50%;

}
.block2{
    box-sizing: border-box;
    width: 50%;

}
.copyright{
    text-align: center;
    color: black;
    background-color: white;
}
